
:root {
    --secondary-teal: #00a896;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fs-7 {
    font-size: 0.85rem;
}

/* Custom Teal Button style since Bootstrap doesn't have teal built-in */
.btn-teal {
    background-color: var(--secondary-teal);
    border-color: var(--secondary-teal);
}
.btn-teal:hover {
    background-color: #008f80;
    border-color: #008f80;
}


.hero {
    background: linear-gradient(rgba(0, 86, 179, 0.7), rgba(43, 45, 66, 0.8)), 
                url('image/Entrev hospital.jpg') no-repeat center center/cover;
    minheight: 85vh;
    display: flex;
    align-item: center;
}

/* Cap width of the search element on wider screens */
.search-group {
    max-width: 250px;
}
